{% extends "leads/base.html" %}
{% load static %}
{% block title %} Lead List {% endblock title %} 
{% block content %}
<a href="{% url 'lead_list' %}">Back to Lead List</a>
<hr>
<h1>Lead personal details</h1>
       <p>Feel free to ask anything...</p>
         <p>{{ lead.first_name }} {{ lead.last_name }} and the age is: {{ lead.age }} and the Agent is: {{ lead.agent }}</p>
         <hr>
         <a href="{% url 'lead_update' lead.pk %}">Update</a>
         <a href="{% url 'lead_delete' lead.pk %}">Delete</a>
{% endblock content %}